.photoList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .photoList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .photoList {
    grid-template-columns: repeat(3, 1fr);
  }
}
